@font-face {
  font-family: arco;
  src: url("/fonts/ARCO.ttf");
  src: url("/fonts/ARCO2.otf");
}
@font-face {
  font-family: matter;
  src: url("/fonts/matter-font/Matter-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: matter;
  src: url("/fonts/matter-font/Matter-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: matter;
  src: url("/fonts/matter-font/Matter-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: matter;
  src: url("/fonts/matter-font/Matter-Bold.ttf");
  font-weight: bold;
}

body {
  /* font-family: matter; */
}

.glass {
  /* background: rgb(6, 107, 87, 0.3); */
  background: #85a3bd4d;
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0 4px 17px rgba(255, 255, 255, 0.5); */
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.blurdiv {
  border-radius: 348px;
  background: #d40ba2;
  filter: blur(250px);
}
.nftcard {
  border-radius: 35px;
  border: 0.898px solid rgba(212, 11, 162, 0.86);
  background: rgba(212, 11, 162, 0.01);
  /* backdrop-filter: blur(26.935401916503906px); */
}
.stroketext {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #d2d2d2; /* WebKit browsers like Chrome and Safari */
}
.nfts:hover .nfts-slide {
  animation-play-state: paused;
}
.nfts-slide {
  animation: 10s slide infinite linear;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-150vw);
  }
}

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 2px; /* Set the width of the scrollbar */
}

/* ::-webkit-scrollbar-track {
  background-color: blue;
  height: 2px; 
}  */

/* ::-webkit-scrollbar-thumb {
  background-color: red;
  width: 2px;
  height: 1px; 
  border-radius: 4px; 
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
} */
